@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url('images/2.jpg') no-repeat center center/cover;    
    
    }

.form-card {
    width: 500px;
    margin: 50px auto;
    background: #ffffff;
    padding: 30px 35px;
    border-radius: 18px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.form-card h2 {
    text-align: center;
    margin-bottom: 25px;
    color:white;
    letter-spacing: 1px;
    background-color:#27ae60;
    padding: 15px 18px;
    
}

.product-form {
    display: flex;
    background-color: transparent;
    backdrop-filter: blur(4px);
    flex-direction: column;
}


.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}


.form-row label {
    margin-bottom: 6px;
    font-weight: bold;
    color: #34495e;
}

.form-row input,
.form-row select,
.form-row textarea {
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s;
}


.form-row input:focus,
.form-row select:focus,
.form-row textarea:focus {
    border-color: #27ae60;
}


.form-row textarea {
    resize: none;
    height: 80px;
}


.form-row input[type="file"] {
    padding: 6px;
}

.form-row button {
    padding: 12px;
    font-size: 15px;
    font-weight: bold;
    background: #27ae60;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.form-row button:hover {
    background: #219150;
}

@media (max-width: 600px) {
    .form-card {
        width: 90%;
        padding: 25px;
    }
}


.footer {
    background: #2d6a4f;
    color: white;
    text-align: center;
    padding: 8px 4px;
    margin-top: 226px;
}
